<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}  {% endblock %} </title>
</head>
<!-- БЛОК ДЛЯ ОТОБРАЖЕНИЯ СООБЩЕНИЙ DJANGO -->
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                        <span class="close-message" onclick="this.parentNode.style.display='none';">&times;</span>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
<!-- КОНЕЦ БЛОКА СООБЩЕНИЙ -->
<body>
    {% block content %} {% endblock %}
    {% include 'components/footer.html' %}

</body>
</html>
